# Core Environment Management
gymnasium==0.28.1

# Compatibility for CarRacing - V3
gymnasium[box2d] 

# Required for Machine Learning Models
tensorflow>=2.12.0

# Array Operations
numpy>=1.23.0

# Image Processing and Video Rendering
pillow>=9.0.0

# For Visualizations
matplotlib>=3.6.0

# Web-based App Deployment
gradio>=3.26.0

